---
layout: page
more-css:
  - "/css/chuyende.css"
  - "/css/tag-page.css"
---

{% assign cpage = page.current_page %}
{% for post in site.categories.chuyende %}
  {% assign nbposts = forloop.length %}
  {% break %}
{% endfor %}
{% assign off_set = cpage | minus: 1 %}
{% assign off_set = off_set | times: 16 %}
{% assign nbposts = nbposts | times: 1.0 %}
{% assign total_page = nbposts | divided_by: 16 %}
{% assign total_page =  total_page | ceil %}

<section class="layout-photo-behind sec-choice-cat section-border-bottom pb-4">
<div class="container">
<div class="row justify-content-center">
<div class="sec-title sec-title-small">
<h2 class="new-title ">
<i class="fa fa-star" style="color:yellow"></i>
<a href="https://hieuphan2708.github.io/eml">
EM-Learning </a>
</h2>
    <div class="row justify-content-center">
      {% assign element-source = site.categories.eml %}
      {% include post-layout.html type="chuyende2" source=element-source offset=off_set limit=4 img-src="/img/chuyende"%}
    </div>
<a href="https://hieuphan2708.github.io/eml" class="view-all"><p align="right">xem thêm</p> </a>
</div>
</div>
</div> 
</section>

<section class="layout-photo-behind sec-choice-cat section-border-bottom pb-4">
<div class="container">
<div class="row justify-content-center">
<div class="sec-title sec-title-small">
<h2 class="new-title ">
<i class="fa fa-star" style="color:green"></i>
<a href="https://hieuphan2708.github.io/goljan">
EM-Learning </a>
</h2>
    <div class="row justify-content-center">
      {% assign element-source = site.categories.goljan %}
      {% include post-layout.html type="chuyende2" source=element-source offset=off_set limit=4 img-src="/img/chuyende"%}
    </div>
<a href="https://hieuphan2708.github.io/goljan" class="view-all"><p align="right">xem thêm</p> </a>
</div>
</div>
</div> 
</section>